<div class="container-fluid about"><br>
    <div class="row">
        <div class="col-md-6 para2">
            <h2 style="text-align: center; margin-top: 150px;">ABOUT US</h2><br>
            <p style="font-size: 22px; font-family: 'Times New Roman', Times, serif;">Our firm, Health Care Centre, situated at Malad West, Mumbai, Maharashtra aim 
                to provide prompt, economical and reliable services of the safest blood and other blood products like RBCs, platelets, etc. Offering 
                the industry-leading, advanced technology and well-equipped inventory, we make all types 
                of blood available for the patients and many hospitals. We contribute in saving many lives in the time of need or in an emergency.</p>
        </div>
        <div class="col-md-6">
            <br>
            <img style="height:600px; width:700px"  src="/assets/images/about.jpeg" class="img-rounded img-fluid">
        </div>
    </div>
</div>
