<!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" >
    <div class="position-sticky">
      
      <div class="list-group list-group-flush mx-3 mt-4 bg-danger " >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple hv" ><i
            class=" fa fa fa-home" aria-hidden="true" ></i><span><b >HOME</b></span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple hv" ><i
                class=" fa fa fa-home" aria-hidden="true" ></i><span ><b >HOME</b></span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple hv"><i
            class="fas fa-globe fa-fw me-3 fa fa-regular fa-bars"></i><span><b>BLOOD REQUEST</b></span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple hv"><i
            class=" fa-fw me-3 fa fa-regular fa-bars"></i><span><b>STATUS</b></span></a>
        
               
      </div> 
   </div>  
  </nav> -->
<div class="container-fluid" style="height: 1000px; background-image: url(https://c1.wallpaperflare.com/preview/1011/247/623/blood-donate-donation-equipment.jpg);  background-repeat: no-repeat; background-size: cover;">
    <div class="row">
        <div class="col-md-3">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
                <div class="position-sticky">

                    <div class="list-group list-group-flush mx-3 mt-4 ">
                        <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple hv" ><i
                        class=" fa-fw me-3 fa fa-home"  ></i><span><b >HOME</b></span></a> -->
                        <a routerLink="patienthome" class="list-group-item list-group-item-action py-2 ripple hv"><i
                                class=" fa-fw me-3 fa fa-home "></i><span><b>HOME</b></span></a>
                        <a routerLink="bloodrequest" class="list-group-item list-group-item-action py-2 ripple hv"><i
                                class=" fa-fw me-3 fa fa-users"></i><span><b>BLOOD REQUEST</b></span></a>
                        <a routerLink="status" class="list-group-item list-group-item-action py-2 ripple hv"><i
                                class=" fa-fw me-3 fa fa-user"></i><span><b>STATUS</b></span></a>


                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>